## 此时，model是Entity.tpl.vm中传入的entityModel
package $model.package;

import lombok.Data;

/**
* ${model.table.remarks}
* ${model.className}
*/
@Data
public class ${model.className} {

## ~~ begin column to field
#foreach($column in $model.table.columns)
    /**
    * ${column.remarks}
    * type ${column.type}
    */
    private $column.javaType $column.fieldName;
#end  ## ~~ end column to field

/** The above part of the comment is auto generated, the following part is written by the user, please do not delete this comment. */

}